@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Martel|Cookie|Times New Roman');

.row bg-color-company-name-description {
    background-color: #AFEEEE;
    margin-left: 0;
}
body{
    position: relative;
}

.section {
    background-color: #AFEEEE;
}
.arts{
    jumbotron:rgba(0,0,0,0.5);
}

.company-name {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    font-size: 6em;
    background-color: #AFEEEE;
    margin-left: 0;
    color: #000080;
    font-family: Cookie;
    font-weight: bolder;
    text-decoration: underline;
    text-align: center;
}
.main {
    margin-top: 0px;
}

.description {
    padding-left: 30px;
    padding-top: 5px;
    background-color: #AFEEEE;
    font-size: 3.75em;
    font-family: Cookie;
    font-weight: bold;
    color: #000080;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
}

.col-heading {
    background-color: #AFEEEE;
}
#find {
 margin-top: 0px;
 background-color:#ffffff;
}

.logo {
    background: url("../images/Berthe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border-width: 6px;
    border-color: #000080;
    border-style: inset;
}
.des{
    text-align :center;
    font-family:Times New Roman;
    font-size:2em;
    padding-top:15px;
    color:#ffffff;
    font-weight: bold;
}

#map {
    min-height: 360px;
    margin-top:-460px;
    border-width: 8px;
    border-color: #d3d3d3;
    border-style: ridge;
    height: 500px;
  }

#locationField{
    background-color:#fffddO;
    margin-top: 0px;
}

.pos {
    text-align: center;
    text-decoration: underline;
    font-variant: Times New Roman;
    font-size: 3em;
    padding-top: 30px;
    color: #000000;
    background-color: #fffddO;
}
#controls{
    margin-left: 0;
    background-color: #fffddO;
}

#country{
    margin-left: 500px;
    height: 40px;
    width:200px;
    font-family:Martel;
    font-weight:bold;
    background-color: #000000;
    box-shadow: 0,0,10px,10px;
     border: 2px solid #000080;
    color:#000000;
    border-radius:4px;
    
}

input[type=text] {
    width:200px;
    height:60px;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #fffbf8;
    border-radius: 10px;
    font-weight: bold;
    color: #000080;
    padding:5px;
    font-family: Martel;
    font-size:2em;
}
input[type=text]:focus {
  width:250px;  
}
    

.example {
    padding: 5px;
    font-size: 17px;
    border: 3px solid #000080;
    background: #afeeee;
    width:350px;
   margin-left: 160px;
   margin-top: 30px;
   }
   .example :hover {
       background-color: pink;
   }
 #monet {
    background-attachment: fixed;
    background-image: url('../images/Giverny5.jpg');
    background-position: bottom;
    background-size: cover;
    z-index: 3;
   /* opacity: rgba(0, 0, 0, 0.5);*/
  
   }
   .bg-arts{
       	background: rgba( 0,0,0,0.4);
   }
.jumbotron {
    color: rgba(0,0,0,0.3);
  }
  #jum {
      margin-top: 10px;
  }

.h1 {
    color: #ffffff;
    font-weight: bold;
    margin-top: 0px;
}
#autocomplete{
    margin-left:15%;
    height: 40px;
    margin-top: 60px;
    background-color:#ffffff;
    border: 2px solid #000080;
    color:#000000;
    border-radius:4px;
    
}
#country{
    margin-top: 30px;
    margin-left: 12%;
     background-color:#ffffff;
    border: 2px solid #000080;
    color:#000000;
    border-radius:4px;
    }

#looking-for {
    color: #000000;
    font-size:2.5em;
    font-family: Times New Roman;
    margin-left:15%;
    font-weight: bold;
    margin-top: 30px;
 }
#types{
    margin-left: 15%;
     background-color:#ffffff;
    border: 2px solid #000080;
    color:#000000;
    border-radius:4px;
    }
#reset-button {
    margin-left: 35%;
    width: 100px;
    margin-top: 30%;
   }
.main {
    color: #ffffff;
    margin-top: 35px;
    font-size: 4em;
    font-weight: bolder;
    text-align: center;
    font-family: Martel;
    text-decoration: underline;
    text-shadow: #d3d3d3;
}

h2 {
    font-family: Martel;
    font-size: 3em;
    margin-left: 10px;
    color:#ffffff;
}
.dropdown{
    position:absolute;
    background-color: #f6f6f6;
    color:D3D3D3;
    cursor:pointer;
  border-color:1px #000080;
  width:300px;
  margin-left: 140px;
    }
.dropdown a{
    color: #000000;
    padding:12px 16px;
}
.dropdown a:hover {
    color:#000080;
}

.us{
    font-family:Times New Roman;
    font-size: 3.5em;
    color: #000080;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    }
   
    .btn btn-primary {
    margin-left: 150px;
    }
    #section-left{
        float:left;
        width:65%;
        height:400px;
    }
    #section-right{
        background-color:#AFEEEE;
        width:35%;
        margin-left:65%;
        height:400px;
    }
    #tog{
        margin-top: 100px;
        margin-left: 140px;
        height:35px;
        width:300px;
        font-size: 20px;
        font-family: Times New Roman;
         background-color:#ffffff;
         border: 2px solid #000080;
         color:#000000;
         border-radius:4px;
    }
   
     h3{
        color: #ffffff;
        text-align: center;
        font-size: 2em;
        font-family: Martel;
        font-weight: bolder;
        margin-top: 5px;
    }
.contact {
     background-image: url("../images/boat.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 6;
    height: 550px;
}
#form{
    width:400px;
    height:450px;
    margin-top: 45px;
}
.form-check-label {
    margin-bottom: 10px;
    display: block;
    position: relative;
    font-family: Martel;
    font-size: 1.5em;
    margin-top: 10px;
    margin-left: 270px;
    color: #000000;
}
#exampleInputEmail1 {
    width:360px;
    font-family: Martel;
    color: #000000;
    margin-left: 200px;
}
.btn btn-primary {
    width:360px;
    margin-left: 50%;
}
#em{
    margin-left: 150px;
    font-family: Times New Roman;
    font-size: 1.5em;
    color:#000000;
}
#find{
    margin-top: 0px;
    background-color: pink; 
}
#emailHelp {
    margin-left: 150px;
    color: #000000;
}

h3{
  margin-top: 10px;
    font-size: 3em;
   text-decoration:underline;
   font-family:Times New Roman;
   color: #000080;
   text-align:center;
   margin-left:300px;
}
.rich{
    font-size: 2.5em;
    font-family: Cookie;
    text-align: center;
    color:#000000;
   }
   
   #demo{
       height:300px;
       width:1200px;
       margin-left:40px;
   }
   .ogg{
       margin-left: 75%;
       font-family: Martel;
       padding: 10px;
       }
   .lin{
       background-color:#ffffff;
   }
.footer {
   background-color: #ccccff;
   height:150px;
  margin-top: 0px;
   }
.icon-row {
 text-align: center;
letter-spacing: 20px;
padding-top: 30px;

 font-size: 1.5em;
 font-weight: bold;
 }
.icon-row :hover {
    color: #000080;
}
.fa fa-copyright{
    letter-spacing: normal;
    font-family:Martel; 
}

.slide {
    background-color: #3195B7;
   }
  
  .bu{
      margin-left:1100px;
     margin-top: 80px;
     width:155px;
     font-family: Martel;
  }
.offset-3 col-md-6 jumbotron {
    color:rgba(0,0,0,0.2);
   border-radius:150px;
   margin-top: 250px;
   margin-bottom: 20px;
}

h4{
    margin-left: 30px;
    font-family: Martel;
    text-decoration: underline;
    padding-top: 30px;
}
